<!-- <header class="hero-unit" id="banner">
    <div class="container">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
                <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form>
                <fieldset>
                    <!-- Form Name -->
                    <legend>Project Attributes</legend>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="control-label" for="selectbasic">Project Name</label>
                        <select id="selectbasic" name="selectbasic" class="form-control" ng-model="$ctrl.project.name">
                              <option value="TIP">TIP</option>
                              <option value="OBAG">OBAG</option>
                               <option value="RTP">RTP</option>
                               <option value="Housing">Housing</option>
                        </select>
                    </div>
                    <label for="exampleInputEmail2">Project ID</label>
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" id="exampleInputEmail2" ng-model="$ctrl.project.Id" style="width:70%;" placeholder="Enter ID or Generate New">
                        <button type="submit" class="btn btn-default" ng-click="$ctrl.generateID()">Generate</button>
                    </div>
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

                </fieldset>
            </form>

            <form>
                <fieldset>
                    <!-- Form Name -->
                    <legend>Mapping Info</legend>
                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="control-label" for="selectbasic">Shape Type</label>
                        <select id="selectbasic2" name="selectbasic" class="form-control" ng-model="$ctrl.editType" ng-change="$ctrl.setEditType($ctrl.editType)">
                               <option value="singlePoint">Single Point</option>
                               <option value="multiPoint">Multiple Points</option>
                               <option value="singleLine">Single Line</option>
                               <option value="multiLine">Multiple Lines</option>
                               <option value="singlePoly">Single Polygon</option>
                               <option value="multiPoly">Multiple Polygons</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <div class="panel panel-default hidden" id="routeInfoDiv">
                <div class="panel-heading">
                    Routing Info
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <!-- Text input-->
                            <label class="control-label" for="textinput">From</label>
                            <div class="form-group form-inline">
                                <!-- <label class="control-label" for="textinput">From</label> -->
                                <input id="fromAddress" name="textinput" class="form-control input-md" type="text" ng-model="$ctrl.fromAddress">
                                <!-- <span class="help-block">Add existing unique ID, or generate a new one</span> -->
                                <button type="submit" class="btn btn-success" ng-click="$ctrl.setFromAddress()"> <i class="fa fa-map-pin"></i></button>
                            </div>
                            <!-- Text input-->
                            <label class="control-label" for="textinput">To</label>
                            <div class="form-group form-inline">
                                <input id="toAddress" name="textinput" class="form-control input-md" type="text" ng-model="$ctrl.toAddress" ng-change="$ctrl.calculateRoute($ctrl.fromAddress,$ctrl.toAddress)">
                                <!-- <span class="help-block">Add existing unique ID, or generate a new one</span> -->
                                <button type="submit" class="btn btn-danger" ng-click="$ctrl.setToAddress()"><i class="fa fa-map-pin"></i></button>
                            </div>
                            <!-- Button (Double) -->
                            <div class="form-group">
                                <div style="text-align:left; padding-right:10px;">
                                    <button id="calculateRoute_Btn" name="button1id" class="btn btn-success" ng-click="$ctrl.calculateRoute()">Calculate Route <i class="fa fa-chevron-right"></i></button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div style="text-align:left; padding-right:10px;">
                                    <button id="removeLastFeature_Btn" name="button1id" class="btn btn-success hidden" ng-click="$ctrl.removeLastFeature()">Remove Last</button>
                                    <button id="saveAndContinue_Btn" name="button2id" class="btn btn-danger hidden" ng-click="$ctrl.saveAddNextNetworkRoute()">Save/Add Next</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>


            <!-- Button (Double) -->
            <div class="form-group">
                <div style="text-align:right; padding-right:10px;">
                    <button id="button1id2" name="button1id" class="btn btn-success" ng-click="$ctrl.submitFeatures()">Submit</button>
                    <button id="button2id2" name="button2id" class="btn btn-danger" ng-click="$ctrl.resetMap()">Cancel</button>
                </div>
            </div>

        </div>

        <div class="col-md-9" style="height:80vh;">
            <div id="citySearch_Div">
                <div class="form-group form-inline">
                    <input type="text" class="form-control" id="cityTextInput" placeholder="e.g. alameda, ca">
                    <button type="submit" id="cityTextInput_Btn" class="btn btn-default"><i id="faSpinner" aria-hidden="true"></i>&nbsp;&nbsp;Find City</button>
                </div>

            </div>

            <div id="canvas" class="col-sm-12" style="position:absolute;top:0;bottom:0;right:0;height:100%;">
            </div>
        </div>
    </div>
    <!-- Static navbar -->
    <!-- <nav class="navbar navbar-primary navbar-static-top">
        <div class="container">
            <div class="row" style="z-index:10000;">
                <div class="col-md-12 toolbar">
                    <div class="col-md-3" style="padding-top:5px;">
                        <button type="button" class="btn btn-default" ng-click="viewProjects()"><span class="fa fa-arrow-left" style="padding-right:3px;"> </span> Back to Projects</button>
                    </div>

                    <div class="col-md-8">
                        <button type="button" class="btn btn-default" ng-click="undoMapChanges()">Undo Changes</button>
                        <button type="button" class="btn btn-default" ng-click="addNotMappable()">Not Mappable</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-lg btn-warning" ng-click="updateShapeString()" ng-show="!routeFeature">
                            <span class="glyphicon glyphicon-plus"></span> Update GIS Feature
                        </button>
                            <button type="button" class="btn btn-lg btn-warning" ng-click="updateNetworkFeature()" ng-show="routeFeature">
                            <span class="glyphicon glyphicon-retweet"></span> Update Route Feature
                        </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav> -->
    <!-- <div class="projectdetails" ng-model="currentProjectDetails">
        <h4 class="font-secondary">TIP ID:</h4>
        <p> {{ currentProjectDetails.tipId }}</p>
        <h4 class="font-secondary">Description:</h4>
        <p>{{ currentProjectDetails.description }}</p>
        <h4 class="font-secondary">Expanded Description:</h4>
        <p>{{ currentProjectDetails.expandedDescription }}</p>
        <h5 class="font-secondary">FMS Details: </h5>
        <a href="http://fms.mtc.ca.gov/fms/showProjectDetailPrepare.ds?projectVersionSeq={{ currentProjectDetails.sequence }}" target="_blank">Click Here for FMS Project View</a>
        <br>
        <b>Start: </b>
        <input id="start" class="controls" type="text" placeholder="  Start..." ng-model="directions.start">
        <br>
        <b>End: </b>
        <input id="end" class="controls" type="text" placeholder="  End..." ng-model="directions.end">
        <br><br>
        <button class="btn btn-default" ng-click="onChange()">Route</button>
        <button class="btn btn-success" ng-click="addToMultiFeatureRoute()">Add to Multi Feature</button>
        <br><br>
        <label>Number of Parts: {{ featureLength }}</label>
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="floating-panel">
    </div> -->


    <div class="col-xs-6 col-sm-3 col-md-2 col-sm-offset-1 col-md-offset-2" id="layerToggleDiv">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Overlays</div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">
                    PDAs <i id="pdaSpinner" class="fa"></i>
                    <div class="material-switch pull-right">
                        <input id="pdaToggle" name="someSwitchOption001" type="checkbox" />
                        <label for="pdaToggle" class="label-success"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    COCs <i id="cocSpinner" class="fa"></i>
                    <div class="material-switch pull-right">
                        <input id="cocToggle" name="cocToggle" type="checkbox" />
                        <label for="cocToggle" class="label-success"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    TPAs <i id="tpaSpinner" class="fa"></i>
                    <div class="material-switch pull-right">
                        <input id="tpaToggle" name="tpaToggle" type="checkbox" />
                        <label for="tpaToggle" class="label-success"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    City Limits <i id="citySpinner" class="fa"></i>
                    <div class="material-switch pull-right">
                        <input id="cityToggle" name="cityToggle" type="checkbox" />
                        <label for="cityToggle" class="label-success"></label>
                    </div>
                </li>
                <!-- <li class="list-group-item">
                    Federal Aid Roads <i id="citySpinner" class="fa"></i>
                    <div class="material-switch pull-right">
                        <input id="fedAidToggle" name="fedAidToggle" type="checkbox" />
                        <label for="fedAidToggle" class="label-success"></label>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>